{% extends 'base_login.html' %}
{% load static %}
{% load widget_tweaks %}

<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form method="post" action=".">
                    {#                                <input type="hidden" name="next" value="{{ next }}">#}
                    {% csrf_token %}
                    <div class="card card-login card-hidden">
                        <div class="card-header text-center" data-background-color="rose">
                            <div class="social-line">
                                <a href="#">
                                    <img src="{% static 'lib/materialkitpro/img/logo_bpm_pro_white.png' %}"
                                         alt="BPM Pro" style="max-width:60%;width:auto;height:auto">
                                </a>
                            </div>
                            <br>
                        </div>
                        <p class="category text-center">Recuperar Contraseña</p>
                        {% if form.errors %}
                            <div class="alert text-sm-left" role="alert">
                                <div class="card-content" style="color: red">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span style="color: red" aria-hidden="true">X</span>
                                    </button>
                                </div>
                            </div>

                        {% endif %}
                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">mail_outline</i>
                                </span>
                                <div class="form-group label-floating">
                                    <label class="control-label">Ingrese su E-mail</label>
                                    {{ form.email|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Enviar
                            </button>
                        </div>
                        <div class="text-center"><a href="{% url 'login' %}">Intentar ingresar nuevamente!</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
