{% extends 'body.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'lib/materialkitpro/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/materialkitpro/js/material.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/materialkitpro/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/moment-es/es.js' %}"></script>
    <script src="{% static 'lib/materialkitpro/js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card">
            <form enctype="multipart/form-data" class="form-horizontal" action="" method="post">
                {% block card_header %}

                {% endblock %}
                <div class="card-content">
                    {% csrf_token %}
                    <h4 class="card-title" style="font-weight: bold">{{ entity }}</h4>
                    <input type="hidden" name="action" value="{{ action }}">
                    {% for field in form.visible_fields %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md-4">
                        {% if field.name == 'groups' %}
                            <label for=""></label>
                            <select class="selectpicker" data-style="btn btn-rose btn-round" multiple data-size="3" id={{ field }}>
                            </select>
                            <span class="help-block">{{ field.help_text }}</span>
                        {% else %}
                        <div {% if field.name == 'is_active' %} class="checkbox"
                            {% elif field.name == 'photo' %} class="fileinput fileinput-new text-center" data-provides='fileinput'
                            {% else %} class="form-group label-floating" {% endif %}>
                            {% if field.name == 'is_active' %}
                                <label>
                                    {{ field }}
                                    {{ field.label }}
                                </label>
                            {% elif field.name == 'photo' %}
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Selecionar imagen</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{ field }}
                                    </span>
                                    <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Eliminar</a>
                                </div>
                            {% else %}
                                <label class="control-label" for=id_{{ field.name }}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% elif forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
                    </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="material-icons">check</i>
                        Guardar
                    </button>
                    <a href="{{ list_url }}" class="btn btn-danger btn-fill">
                        <i class="material-icons">close</i>
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json',
                processData: false,
                contentType: false,
            }).done(function (data) {
                console.log(data);
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
            });
        });
        $('#date_birth').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'es',
            defaultDate: $('.date_birth'),
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',
            },
        });
    </script>
{% endblock %}