{% load static %}

<div class="sidebar" data-color="rose" data-background-color="black"
     data-image="{% static 'lib/material-dashboard-pro-html-v2.2.2/assets/img/sidebar-1.jpg' %}">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a class="simple-text logo-mini" href="#">
            <img src="{% static 'lib/material-dashboard-pro-html-v2.2.2/assets/img/favicon.png' %}"
                 style="max-width: 80%;max-height: 80%;width:auto;height:auto" alt="logo_bpmpro_favicon"/>
        </a>
        <a class="simple-text logo-normal" href="#">
            <img src="{% static 'lib/material-dashboard-pro-html-v2.2.2/assets/img/logo_bpm_pro_white.png' %}"
                 style="max-width: 90%;max-height: 90%;width:auto;height:auto" alt="logo_bpmpro"/>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                {% if request.user.photo %}
                    <img src="{{ request.user.photo.url }}" alt="logo"/>
                {% else %}
                    <img src="{% static 'lib/material-dashboard-pro-html-v2.2.2/assets/img/default-avatar.png' %}"
                         alt="photo_user"/>
                {% endif %}
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                {{ request.user.get_full_name }}
                <b class="caret"></b>
              </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:user_profile' request.user.id %}">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> Mi Perfil </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <span class="sidebar-mini"> CS </span>
                                <span class="sidebar-normal"> Cerrar Sesión </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            {% url 'inicio:inicio' as inicio %}
            {% url 'user:user_list' as user_list %}
            {% url 'user:user_create' as user_create %}
            {% url 'company:company_create' as company_create %}
            {% url 'company:company_list' as company_list %}
            {% url 'products:product_create' as product_create %}
            {% url 'products:product_list' as product_list %}

            <li class="nav-item {% if inicio in request.path %} active {% endif %}">
                <a class="nav-link" href="{% url 'inicio:inicio' %}">
                    <i class="material-icons">home</i>
                    <p> Inicio </p>
                </a>
            </li>
            <li class="nav-item {% if product_list in request.path or product_create in request.path %} active {% endif %}">
                <a class="nav-link" data-toggle="collapse" href="#products">
                    <i class="material-icons">inventory_2</i>
                    <p> Productos
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {% if product_list in request.path or product_create in request.path %} show {% endif %}"
                     id="products">
                    <ul class="nav">
                        <li class="nav-item {% if product_list in request.path %} active {% endif %}">
                            <a class="nav-link" href="{% url 'products:product_list' %}">
                                <span class="sidebar-mini"> LP </span>
                                <span class="sidebar-normal"> Lista Productos </span>
                            </a>
                        </li>
                        <li class="nav-item {% if product_create in request.path %} active {% endif %}">
                            <a class="nav-link" href="{% url 'products:product_create' %}">
                                <span class="sidebar-mini"> CP </span>
                                <span class="sidebar-normal"> Crear Producto </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if user_list in request.path or user_create in request.path %} active {% endif %}">
                <a class="nav-link" data-toggle="collapse" href="#manageUsers">
                    <i class="material-icons">manage_accounts</i>
                    <p> Gestión Usuarios
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {% if user_list in request.path or user_create in request.path %} show {% endif %}"
                     id="manageUsers">
                    <ul class="nav">
                        <li class="nav-item {% if user_list in request.path %} active {% endif %}">
                            <a class="nav-link" href="{% url 'user:user_list' %}">
                                <span class="sidebar-mini"> LU </span>
                                <span class="sidebar-normal"> Lista Usuarios </span>
                            </a>
                        </li>
                        <li class="nav-item {% if user_create in request.path %} active {% endif %}">
                            <a class="nav-link" href="{% url 'user:user_create' %}">
                                <span class="sidebar-mini"> CU </span>
                                <span class="sidebar-normal"> Crear Usuario </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if company_create in request.path or company_list in request.path %} active {% endif %}">
                <a class="nav-link" data-toggle="collapse" href="#company">
                    <i class="material-icons">settings</i>
                    <p> Compañia
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {% if company_create in request.path or company_list in request.path %} show {% endif %}"
                     id="company">
                    <ul class="nav">
                        <li class="nav-item {% if company_create in request.path or company_list in request.path %} active {% endif %}">
                            <a class="nav-link" {% if company >= 1 %}
                               href="{% url 'company:company_list' %}" {% else %} href="{% url 'company:company_create' %} {% endif %}">
                                <span class="sidebar-mini"> CF </span>
                                <span class="sidebar-normal"> Configuración </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</div>




