{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list.js' %}"></script>
{% endblock %}

{% block card_header %}
    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">store</i>
    </div>
{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:30%">Razón Social Compañia</th>
    <th class="text-md-center" style="width:20%">NIT</th>
    <th class="text-md-center" style="width:25%">Dirección</th>
    <th class="text-md-center" style="width:15%">Ciudad</th>
    <th class="text-md-center" style="width:10%">Acciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}